<section class="py-20 bg-gray-900" id="shop bg-cover h-screen">
    <div class="container mx-auto text-center ">
      <h2 class="text-4xl font-bold mb-12 text-white">Featured Shoes</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
        <!-- looping through products using ngFor -->
        <div *ngFor="let product of products" class="bg-gray-800 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
          <img [src]="product.imageUrl" alt="Product" class="w-full h-48 object-cover rounded-lg mb-6">
          <h3 class="text-2xl font-semibold mb-2 text-white">{{ product.name }}</h3>
          <p class="text-lg text-gray-400 mb-4">${{ product.price }}</p>
          <a [href]="product.link" class="text-blue-400 hover:underline">View Product</a>
        </div>
      </div>
    </div>
  </section>
  