<app-nav-bar></app-nav-bar>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Shoe Retail Store</title>
    <script src="https://cdn.tailwindcss.com"></script>  </head>
<body class="bg-gray-900 text-white h-screen">
    <section class="relative bg-cover bg-center pb-32 pt-16 bg-gray-900">
        <div class="container mx-auto text-center relative z-10">
            <h1 class="text-lg sm:text-4xl font-bold mb-6 ">Contact Us</h1>
            <p class="text-lg sm:text-1xl front-bold mb-8 pb-16 max-w-3xl mx-auto">
                Any Queries? Contact us NOW!
            </p>
            <form onsubmit="return false">
                <div class="space-y-12">
              
                  <div class="border-b border-gray-900/10 pb-12">
                    <h2 class="text-base/7 font-semibold text-white">Please Give us the Following Details.</h2>
              
                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                      <div class="sm:col-span-3">
                        <label for="first-name" class="block text-sm/6 font-medium text-white">First name</label>
                        <div class="mt-2">
                          <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                        </div>
                      </div>
              
                      <div class="sm:col-span-3">
                        <label for="last-name" class="block text-sm/6 font-medium text-white">Last name</label>
                        <div class="mt-2">
                          <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                        </div>
                      </div>
              
                      <div class="sm:col-span-4">
                        <label for="email" class="block text-sm/6 font-medium text-white">Email address</label>
                        <div class="mt-2">
                          <input id="email" name="email" type="email" autocomplete="email" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                        </div>
                      </div>
              
                      <div class="sm:col-span-3">
                        <label for="country" class="block text-sm/6 font-medium text-white">State</label>
                        <div class="mt-2 grid grid-cols-1">
                            <!--Looping through various states where we are available-->
                          <select id="country" name="country" autocomplete="country-name" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                            <option *ngFor="let i of states">{{i.name}}</option>
                          </select>
                          <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
                            <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                          </svg>
                        </div>
                      </div>
              
                      <div class="col-span-full">
                        <label for="street-address" class="block text-sm/6 font-medium text-white">Street address</label>
                        <div class="mt-2">
                          <input type="text" name="street-address" id="street-address" autocomplete="street-address" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                        </div>
                      </div>
              
                      <div class="sm:col-span-2 sm:col-start-1">
                        <label for="city" class="block text-sm/6 font-medium text-white">City</label>
                        <div class="mt-2">
                          <input type="text" name="city" id="city" autocomplete="address-level2" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                        </div>
                      </div>
              
                      <div class="sm:col-span-2">
                        <label for="region" class="block text-sm/6 font-medium text-white">State / Province</label>
                        <div class="mt-2">
                          <input type="text" name="region" id="region" autocomplete="address-level1" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                        </div>
                      </div>
              
                      <div class="sm:col-span-2">
                        <label for="postal-code" class="block text-sm/6 font-medium text-white">ZIP / Postal code</label>
                        <div class="mt-2">
                          <input type="text" name="postal-code" id="postal-code" autocomplete="postal-code" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              
                <div class="mt-6 flex items-center justify-end gap-x-6">
                  <button type="button" class="text-sm/6 font-semibold text-white">Cancel</button>
                  <button (click)="submitToggle()" class="rounded-md bg-gray-800 hover:bg-gray-600 px-3 py-2 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Submit</button>
                </div>
              </form>
              <div *ngIf="submitoption" class="container mx-auto bg-gray-800 w-64 py-3 outline-dashed">
                <h1 class="font-bold text-xl pb-6">Sucessfully Submitted!!</h1>
                <form>
                  <button class="outline-double p-2">OKAY</button>
                </form>
              </div>
              
        </div>
    </section>
</body>

</html>