<app-nav-bar></app-nav-bar>
<div class="bg-gray-900 min-h-screen">
    <div class="py-16">
        <h3 class="leading-6 text-4xl text-white text-center">
            YOUR CART
        </h3>
        <p class="mt-3 text-center text-lg text-gray-500">
            products inside your cart are shown here
        </p>
    </div>
    <!--EXAMPLE OF HOW THE ORDERS TABLE WILL LOOK LIKE-->
    <table class="table-auto text-center w-full text-white border-separate border-spacing-y-4">
        <thead>
            <tr>
              <th class="text-2xl">ID</th>
              <th class="text-2xl">Product name</th>
              <th class="text-2xl">Price (in Rs)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1242</td>
              <td>Casual shoes Red</td>
              <td>2499</td>
              <button class="bg-red-900 hover:bg-red-700 text-white py-3 px-6 rounded-full text-sm font-semibold transition duration-300">DELETE</button>
            </tr>
            <tr>
              <td>1242</td>
              <td>Casual blue shoes</td>
              <td>129.99</td>
              <button class="bg-red-900 hover:bg-red-700 text-white py-3 px-6 rounded-full text-sm font-semibold transition duration-300">DELETE</button>
            </tr>
          </tbody>
    </table>
</div>